.areas-atuacao {
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/PATER.png);
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat; /* Evita repetição da imagem */
    background-color: rgba(255, 255, 255, 0.8); /* Ajuste a transparência (0.0 a 1.0) */
    background-blend-mode: overlay; /* Mistura a cor com a imagem */
}

.service-wrapper {
    padding: 3% 8%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1AreasAtuacao {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: 4em;
    color: black;
    margin-bottom: 40px;
}

.service-p {
    color: #1b1b1b;
    text-align: left;
    width: 100%;
    margin: 20px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 42px;
}

.card {
    height: 350px;
    width: 420px;
    background-color: rgb(226, 218, 198);
    padding: 3% 8%;
    border-radius: 8px;
}

.card i {
    color: #bb8a28;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.service-h2 {
    color: black;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(1,1fr);
    }

    .h1AreasAtuacao {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .h1AreasAtuacao {
        font-size: 2rem;
    }

    .service-p {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .h1AreasAtuacao {
        margin-bottom: 12px;
        font-size: 1.5rem;
    }

    .card {
        height: 280px;
        width: 320px;
    }

    .card i {
        margin-top: 20px;
    }

    .service-p {
        width: 100%;
    }
}

