.diferenciais {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
    background-color: rgb(226, 218, 198);
}

.titulo-diferenciais {
    background-color: rgb(226, 218, 198);
    text-align: center;
    padding-top: 60px;
}

.h2diferenciais {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: 4em;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
}

.diferenciais-p {
    margin-bottom: 0;
    font-size: 1.2rem;
}

.card-wrapper {
    max-width: 1300px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list {
    display: flex;
    align-items: stretch;
}

.card-item {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.card-link {
    flex-grow: 1; /* Faz com que os cards ocupem o mesmo espaço */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui os elementos dentro do card */
}

.card-link {
    min-height: 300px; /* Ajuste conforme necessário */
}

.card-title {
    min-height: 60px; /* Ajuste conforme necessário */
}

.card-list .card-item .card-link {
    user-select: none;;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #bb8a28;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    font-weight: 600;
    color: #000;
    margin: 16px 0 18px;
}

.card-list .card-link .card-button {
    height: 38.5px;
    width: 38.5px;
    color: #bb8a28;
    border-radius: 50%;
    margin: 30px 0 5px;
    border: 2px solid #bb8a28;
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: #bb8a28;
}

.swiper-button-next, 
.swiper-button-prev {
    color: #bb8a28 !important;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: #bb8a28 !important;
}

.card-wrapper .swiper-pagination-bullet  {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #bb8a28;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #bb8a28;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .h2areas-atuacao {
        top: 10vw; /* Mais espaço no topo */
        font-size: 5vw; /* Maior legibilidade */
    }

    .card-wrapper {
        margin: 0 20px 35px; /* Menos margem nas laterais */
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .h2areas-atuacao {
        top: 12vw; /* Ajuste para telas muito pequenas */
        font-size: 6vw; /* Letra maior para melhor leitura */
    }

    .card-wrapper {
        margin: 0 10px 35px; /* Ajuste para telas muito pequenas */
    }
}
