html, body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

p {
    font-family: 'Montserrat', sans-serif;
}
section {
    position: relative;
    display: block;
    z-index: 1;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol,
li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
    transition-property: all;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 0px;
    margin-bottom: 0;
    font-style: normal;
    text-transform: inherit;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

.sec-title-three {
    position: relative;
    display: block;
    top: 0px;
    color: white;
    padding-bottom: 0px;
}

.sub-title h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}

.sec-title-three .sub-title {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.sec-title-three .sub-title h4 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
}

.sec-title-three h2 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2em;
    text-transform: capitalize;
}
